@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.font-plus-jakarta-sans {
	  font-family: 'Plus Jakarta Sans', sans-serif;
	}

	.text-56 {
		font-size: 3.5rem;
		line-height: 4.25rem;
	  }
	  
	  .text-48 {
		font-size: 3rem;
		line-height: 3.5rem;
	  }
	  
	  .text-40 {
		font-size: 2.5rem;
		line-height: 3rem;
	  }
	  
	  .text-32 {
		font-size: 2rem;
		line-height: 2.5rem;
	  }
	  
	  .text-24 {
		font-size: 1.5rem;
		line-height: 2rem;
	  }
	  
	  .text-20 {
		font-size: 1.25rem;
		line-height: 1.875rem;
	  }
	  
	  .text-18 {
		font-size: 1.125rem;
		line-height: 1.75rem;
	  }
	  
	  .text-16 {
		font-size: 1rem;
		line-height: 1.5rem;
	  }
	  
	  .text-14 {
		font-size: 0.875rem;
		line-height: 1.25rem;
	  }
	  
	  .text-12 {
		font-size: 0.75rem;
		line-height: 1.125rem;
	  }
	  
	  .text-11 {
		font-size: 0.68rem;
		line-height: 1rem;
	  }
	  
	  .text-10 {
		font-size: 0.625rem;
		line-height: 1rem;
	  }

	.semibold {
		font-weight: 600;
	}
	.medium {
		font-weight: 500;
	}
	.regular {
		font-weight: 400;
	}
	.italic {
		font-style: italic;
	}
	.underline {
		text-decoration: underline;
	}
	
  }

@layer base {
    :root {
		--font-plus-jakarta-sans: 'Plus Jakarta Sans', sans-serif;

		--radius : 0.5rem;
		--container-padding: 1.25rem;
		--section-spacing: 3rem;

        --hsla-transparent: hsla(0, 0%, 0%, 0.1);

        --hsla-white: hsla(0, 0%, 100%, 1);
        --hsla-white-alpha-8: hsla(0, 0%, 100%, 0.1);
        --hsla-white-alpha-16: hsla(0, 0%, 100%, 0.16);
        --hsla-white-alpha-25: hsla(0, 0%, 100%, 0.25);
        --hsla-white-alpha-40: hsla(0, 0%, 100%, 0.4);
        --hsla-white-alpha-50: hsla(0, 0%, 100%, 0.5);
        --hsla-white-alpha-60: hsla(0, 0%, 100%, 0.6);
        --hsla-white-alpha-70: hsla(0, 0%, 100%, 0.7);
        --hsla-white-alpha-80: hsla(0, 0%, 100%, 0.8);
        --hsla-white-alpha-90: hsla(0, 0%, 100%, 0.9);

        --hsla-black: hsla(0, 0%, 0%, 1);
        --hsla-black-alpha-8: hsla(0, 0%, 0%, 0.1);
        --hsla-black-alpha-16: hsla(0, 0%, 0%, 0.16);
        --hsla-black-alpha-25: hsla(0, 0%, 0%, 0.25);
        --hsla-black-alpha-40: hsla(0, 0%, 0%, 0.4);
        --hsla-black-alpha-50: hsla(0, 0%, 0%, 0.5);
        --hsla-black-alpha-60: hsla(0, 0%, 0%, 0.6);
        --hsla-black-alpha-70: hsla(0, 0%, 0%, 0.7);
        --hsla-black-alpha-80: hsla(0, 0%, 0%, 0.8);
        --hsla-black-alpha-90: hsla(0, 0%, 0%, 0.9);

        --hsla-neutral-25: hsla(240, 5%, 98%, 1);
        --hsla-neutral-50: hsla(240, 5%, 96%, 1);
        --hsla-neutral-100: hsla(240, 6%, 92%, 1);
        --hsla-neutral-200: hsla(240, 8%, 86%, 1);
        --hsla-neutral-300: hsla(240, 10%, 79%, 1);
        --hsla-neutral-400: hsla(240, 12%, 69%, 1);
        --hsla-neutral-500: hsla(240, 15%, 59%, 1);
        --hsla-neutral-600: hsla(240, 20%, 49%, 1);
        --hsla-neutral-700: hsla(240, 30%, 38%, 1);
        --hsla-neutral-800: hsla(240, 50%, 25%, 1);
        --hsla-neutral-900: hsla(240, 90%, 14%, 1);
        --hsla-neutral-950: hsla(240, 90%, 14%, 0.1);

        --hsla-neutral-900-alpha-8: hsla(240, 90%, 14%, 0.08);
        --hsla-neutral-900-alpha-16: hsla(240, 90%, 14%, 0.16);
        --hsla-neutral-900-alpha-25: hsla(240, 90%, 14%, 0.25);
        --hsla-neutral-900-alpha-40: hsla(240, 90%, 14%, 0.4);
        --hsla-neutral-900-alpha-50: hsla(240, 90%, 14%, 0.5);
        --hsla-neutral-900-alpha-60: hsla(240, 90%, 14%, 0.6);
        --hsla-neutral-900-alpha-70: hsla(240, 90%, 14%, 0.7);
        --hsla-neutral-900-alpha-80: hsla(240, 90%, 14%, 0.8);
        --hsla-neutral-900-alpha-90: hsla(240, 90%, 14%, 0.9);

        --hsla-error-25: hsla(2, 100%, 97%, 1);
        --hsla-error-50: hsla(2, 100%, 95%, 1);
        --hsla-error-100: hsla(2, 91%, 90%, 1);
        --hsla-error-200: hsla(2, 81%, 81%, 1);
        --hsla-error-300: hsla(2, 72%, 73%, 1);
        --hsla-error-400: hsla(2, 69%, 64%, 1);
        --hsla-error-500: hsla(2, 81%, 56%, 1);
        --hsla-error-600: hsla(2, 68%, 48%, 1);
        --hsla-error-700: hsla(2, 68%, 48%, 1);
        --hsla-error-800: hsla(2, 71%, 28%, 1);
        --hsla-error-900: hsla(2, 86%, 17%, 1);
        --hsla-error-950: hsla(0, 100%, 12%, 1);
/* fix ones a above */
        --hsla-success-25: hsla(165, 67%, 98%, 1);
        --hsla-success-50: hsla(161, 67%, 95%, 1);
        --hsla-success-100: hsla(162, 71%, 91%, 1);
        --hsla-success-200: hsla(162, 58%, 78%, 1);
        --hsla-success-300: hsla(162, 56%, 66%, 1);
        --hsla-success-400: hsla(162, 54%, 54%, 1);
        --hsla-success-500: hsla(162, 72%, 42%, 1);
        --hsla-success-600: hsla(162, 75%, 35%, 1);
        --hsla-success-700: hsla(162, 77%, 29%, 1);
        --hsla-success-800: hsla(162, 82%, 22%, 1);
        --hsla-success-900: hsla(162, 93%, 16%, 1);
        --hsla-success-950: hsla(162, 100%, 12%, 1);

        --hsla-neutral-grey-25 : hsla(240, 9%, 98%, 1);
        --hsla-neutral-grey-50 : hsla(240, 4%, 95%, 1);
        --hsla-neutral-grey-100: hsla(240, 4%, 91%, 1);
        --hsla-neutral-grey-200: hsla(240, 4%, 82%, 1);
        --hsla-neutral-grey-300: hsla(257, 5%, 73%, 1);
        --hsla-neutral-grey-400: hsla(253, 5%, 64%, 1);
        --hsla-neutral-grey-500: hsla(250, 5%, 55%, 1);
        --hsla-neutral-grey-600: hsla(249, 6%, 46%, 1);
        --hsla-neutral-grey-700: hsla(254, 9%, 37%, 1);
        --hsla-neutral-grey-800: hsla(253, 13%, 28%, 1);
        --hsla-neutral-grey-900: hsla(251, 22%, 19%, 1);
        --hsla-neutral-grey-950: hsla(251, 22%, 10%, 1);

        --hsla-brand-25: hsla(237, 100%, 99%, 1);
        --hsla-brand-50: hsla(237, 100%, 98%, 1);
        --hsla-brand-100: hsla(237, 100%, 95%, 1);
        --hsla-brand-200: hsla(237, 100%, 90%, 1);
        --hsla-brand-250: hsla(237, 100%, 88%, 1);
        --hsla-brand-300: hsla(237, 100%, 85%, 1);
        --hsla-brand-400: hsla(237, 100%, 81%, 1);
        --hsla-brand-500: hsla(237, 100%, 75%, 1);
        --hsla-brand-600: hsla(237, 55%, 61%, 1);
        --hsla-brand-700: hsla(237, 35%, 49%, 1);
        --hsla-brand-800: hsla(237, 40%, 35%, 1);
        --hsla-brand-900: hsla(237, 49%, 22%, 1);
        --hsla-brand-950: hsla(237, 60%, 15%, 1);

        --hsla-brand-500-alpha-8: hsla(237, 100%, 76%, 0.08);
        --hsla-brand-500-alpha-16: hsla(237, 100%, 76%, 0.16);
        --hsla-brand-500-alpha-25: hsla(237, 100%, 76%, 0.25);
        --hsla-brand-500-alpha-60: hsla(237, 100%, 76%, 0.6);

        --hsla-brand-800-alpha-4: hsla(237, 40%, 32%, 0.04);
        --hsla-brand-800-alpha-8: hsla(237, 40%, 32%, 0.08);
        --hsla-brand-800-alpha-16: hsla(237, 40%, 32%, 0.16);
        --hsla-brand-800-alpha-25: hsla(237, 40%, 32%, 0.25);
        --hsla-brand-800-alpha-60: hsla(237, 40%, 35%, 0.6);
        
		--dashed-border: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='0.75rem' ry='0.75rem' stroke='hsl(176, 8%, 64%)' stroke-width='2' stroke-dasharray='8%2c 10' stroke-dashoffset='8' stroke-linecap='square'/%3e%3c/svg%3e");
		--dashed-border-focus: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='0.75rem' ry='0.75rem' stroke='hsl(151, 77%, 66%)' stroke-width='2' stroke-dasharray='8%2c 10' stroke-dashoffset='8' stroke-linecap='square'/%3e%3c/svg%3e");
		--dashed-border-error: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='0.75rem' ry='0.75rem' stroke='hsl(349, 100%, 46%)' stroke-width='2' stroke-dasharray='8%2c 10' stroke-dashoffset='8' stroke-linecap='square'/%3e%3c/svg%3e");

		@apply md:[--section-spacing:4rem];
	}

	
    .brand,
	[data-theme='brand'] { 

		
        --hsla-button-background-primary: var(--hsla-brand-600);
        --hsla-button-background-primary-hover: var(--hsla-brand-700);
		--hsla-button-background-primary-disabled: var(--hsla-black-alpha-8);
        --hsla-button-text-primary: var(--hsla-white);
		--hsla-button-text-primary-hover: var(--hsla-white);
		--hsla-button-text-primary-disabled: var(--hsla-black-alpha-25);
        --hsla-button-primary-outline: var(--hsla-brand-100);
        --hsla-button-primary-halo: var(--hsla-brand-100);
        

        --hsla-button-background-secondary: var(--hsla-white);
		--hsla-button-background-secondary-hover: var(--hsla-black-alpha-8);
		--hsla-button-background-secondary-disabled: var(--hsla-white);
		--hsla-button-text-secondary: var(--hsla-brand-950);
		--hsla-button-text-secondary-hover: var(--hsla-brand-950);
		--hsla-button-text-secondary-disabled: var(--hsla-black-alpha-25);
        --hsla-button-secondary-outline: var(--hsla-black-alpha-25);
        --hsla-button-secondary-halo: var(--hsla-black-alpha-25);
        
        --hsla-button-background-tertiary: var(--hsla-white);
		--hsla-button-background-tertiary-hover: var(--hsla-black-alpha-8);
		--hsla-button-background-tertiary-disabled: var(--hsla-white);
		--hsla-button-text-tertiary: var(--hsla-brand-950);
		--hsla-button-text-tertiary-hover: var(--hsla-brand-950);
		--hsla-button-text-tertiary-disabled: var(--hsla-black-alpha-25);
        --hsla-button-tertiary-outline: var(--hsla-white);
        --hsla-button-tertiary-halo: var(--hsla-black-alpha-8);

        --hsla-button-background-link: var(--hsla-white);
		--hsla-button-background-link-hover: var(--hsla-white);
		--hsla-button-background-link-disabled: var(--hsla-white);
		--hsla-button-text-link: var(--hsla-brand-600);
		--hsla-button-text-link-hover: var(--hsla-brand-800);
		--hsla-button-text-link-disabled: var(--hsla-black-alpha-25);
        --hsla-button-link-outline: var(--hsla-white);
        --hsla-button-link-halo: var(--hsla-white);

    }
	.error,
	[data-theme='error'] {
        
        --hsla-button-background-primary: var(--hsla-error-600);
		--hsla-button-background-primary-hover: var(--hsla-error-800);
		--hsla-button-background-primary-disabled: var(--hsla-black-alpha-8);
        --hsla-button-text-primary: var(--hsla-white);
		--hsla-button-text-primary-hover: var(--hsla-white);
		--hsla-button-text-primary-disabled: var(--hsla-black-alpha-25);
        --hsla-button-primary-outline: var(--hsla-error-50);
        --hsla-button-primary-halo: var(--hsla-error-100);
        

        --hsla-button-background-secondary: var(--hsla-white);
		--hsla-button-background-secondary-hover: var(--hsla-error-50);
		--hsla-button-background-primary-disabled: var(--hsla-white);
		--hsla-button-text-secondary: var(--hsla-error-600);
		--hsla-button-text-secondary-hover: var(--hsla-error-800);
		--hsla-button-text-secondary-disabled: var(--hsla-black-alpha-25);
        --hsla-button-secondary-outline: var(--hsla-error-50);
        --hsla-button-secondary-halo: var(--hsla-black-alpha-8);
        
        --hsla-button-background-tertiary: var(--hsla-white);
		--hsla-button-background-tertiary-hover: var(--hsla-error-50);
		--hsla-button-background-tertiary-disabled: var(--hsla-white);
		--hsla-button-text-tertiary: var(--hsla-error-600);
		--hsla-button-text-tertiary-hover: var(--hsla-error-800);
		--hsla-button-text-tertiary-disabled: var(--hsla-black-alpha-25);
        --hsla-button-tertiary-outline: var(--hsla-white);
        --hsla-button-tertiary-halo: var(--hsla-black-alpha-8);

        --hsla-button-background-link: var(--hsla-white);
		--hsla-button-background-link-hover: var(--hsla-white);
		--hsla-button-background-link-disabled: var(--hsla-white);
		--hsla-button-text-link: var(--hsla-error-600);
		--hsla-button-text-link-hover: var(--hsla-error-800);
		--hsla-button-text-link-disabled: var(--hsla-black-alpha-25);
        --hsla-button-link-outline: var(--hsla-white);
        --hsla-button-link-halo: var(--hsla-black-alpha-8);
    }



    /* html {
        font-family: "Inter", sans-serif;
    }

    html,
	body {
		font-family: var(--font-plus-jakarta-sans);
		font-size: clamp(1rem, 0.427rem + 0.545vw, 1.3rem);
		color: hsl(var(--hexa-text-primary) / 1);
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		scroll-padding-top: 8rem;
		padding: 0 !important;
	} */

    /* .form-style{
        padding-inline: 2rem;
        padding-top: 1rem;
        h2 {
            font-size: 1.5rem;
            font-weight: 400;
            margin-bottom: 1rem;
        }

        > div {
            display: flex;
            flex-direction: column;
        }
        label{
            font-size: 0.8rem;
            font-weight: 600;
            padding: 0;
            margin: 0;
        }
        input, select {
            border: 1px solid #ccc;
            border-radius: 6px;
            padding-block: 2px;
            width: 100%;
        }

        button[type="submit"]{
            background-color: #5243f7;
            border-radius: 0.2rem;
            width: fit-content;
            padding: 0.5rem;
            padding-inline: 0.8rem;
            color: white;
            font-weight: 200;
        }
    } */

	/* .modal-typography {
		@apply font-plus-jakarta-sans body-18
		[&>*+*]:mt-6
		[&>:first-child]:!mt-0
		[&>:last-child]:!mb-0
		[&>h1]:heading-32
		[&>h2]:heading-28
		[&>h3]:heading-24
		[&>h4]:heading-20
		[&>h5]:heading-18
		[&>h6]:heading-16
		[&_ul]:pl-6
		[&_ul]:list-disc
		[&_ul_ul]:mt-2
		[&_ul_li]:mb-[0.5em]
		[&_ol]:pl-6
		[&_ol]:list-decimal
		[&_ol_ol]:mt-2
		[&_ol_li]:mb-[0.5em]
		[&_p]:break-words
		[&_blockquote]:quote-24
		[&_blockquote]:text-center
		[&_blockquote]:my-12;
	}

	.typography {
		@apply font-plus-jakarta-sans body-16
		[&>*+*]:mt-6
		[&>:first-child]:!mt-0
		[&>:last-child]:!mb-0
		[&>h1]:heading-40
		[&>h2]:heading-32
		[&>h3]:heading-28
		[&>h4]:heading-24
		[&>h5]:heading-20
		[&>h6]:heading-18
		[&_ul]:pl-6
		[&_ul]:list-disc
		[&_ul_ul]:mt-2
		[&_ul_li]:mb-[0.5em]
		[&_ol]:pl-6
		[&_ol]:list-decimal
		[&_ol_ol]:mt-2
		[&_ol_li]:mb-[0.5em]
		[&_p]:break-words
		[&_blockquote]:quote-24
		[&_blockquote]:text-center
		[&_blockquote]:my-12;
	} */

	
	.semibold-56 { @apply font-plus-jakarta-sans text-56 font-semibold; }
	.regular-56 { @apply font-plus-jakarta-sans text-56 font-normal; }
	.medium-56 { @apply font-plus-jakarta-sans text-56 font-medium; }

	.semibold-48 { @apply font-plus-jakarta-sans text-48 font-semibold; }
	.regular-48 { @apply font-plus-jakarta-sans text-48 font-normal; }
	.medium-48 { @apply font-plus-jakarta-sans text-48 font-medium; }

	.semibold-40 { @apply font-plus-jakarta-sans text-40 font-semibold; }
	.regular-40 { @apply font-plus-jakarta-sans text-40 font-normal; }
	.medium-40 { @apply font-plus-jakarta-sans text-40 font-medium; }

	.semibold-32 { @apply font-plus-jakarta-sans text-32 font-semibold; }
	.semibold-italic-32 { @apply font-plus-jakarta-sans text-32 font-semibold italic; }
	.semibold-underline-32 { @apply font-plus-jakarta-sans text-32 font-semibold underline; }

	.regular-32 { @apply font-plus-jakarta-sans text-32 font-normal; }
	.regular-italic-32 { @apply font-plus-jakarta-sans text-32 font-normal italic; }
	.regular-underline-32 { @apply font-plus-jakarta-sans text-32 font-normal underline; }

	.medium-32 { @apply font-plus-jakarta-sans text-32 font-medium; }
	.medium-italic-32 { @apply font-plus-jakarta-sans text-32 font-medium italic; }
	.medium-underline-32 { @apply font-plus-jakarta-sans text-32 font-medium underline; }

	.semibold-24 { @apply font-plus-jakarta-sans text-24 font-semibold; }
	.semibold-italic-24 { @apply font-plus-jakarta-sans text-24 font-semibold italic; }
	.semibold-underline-24 { @apply font-plus-jakarta-sans text-24 font-semibold underline; }

	.regular-24 { @apply font-plus-jakarta-sans text-24 font-normal; }
	.regular-italic-24 { @apply font-plus-jakarta-sans text-24 font-normal italic; }
	.regular-underline-24 { @apply font-plus-jakarta-sans text-24 font-normal underline; }

	.medium-24 { @apply font-plus-jakarta-sans text-24 font-medium; }
	.medium-italic-24 { @apply font-plus-jakarta-sans text-24 font-medium italic; }
	.medium-underline-24 { @apply font-plus-jakarta-sans text-24 font-medium underline; }

	.semibold-20 { @apply font-plus-jakarta-sans text-20 font-semibold; }
	.semibold-italic-20 { @apply font-plus-jakarta-sans text-20 font-semibold italic; }
	.semibold-underline-20 { @apply font-plus-jakarta-sans text-20 font-semibold underline; }

	.regular-20 { @apply font-plus-jakarta-sans text-20 font-normal; }
	.regular-italic-20 { @apply font-plus-jakarta-sans text-20 font-normal italic; }
	.regular-underline-20 { @apply font-plus-jakarta-sans text-20 font-normal underline; }

	.medium-20 { @apply font-plus-jakarta-sans text-20 font-medium; }
	.medium-italic-20 { @apply font-plus-jakarta-sans text-20 font-medium italic; }
	.medium-underline-20 { @apply font-plus-jakarta-sans text-20 font-medium underline; }

	.semibold-18 { @apply font-plus-jakarta-sans text-18 font-semibold; }
	.semibold-italic-18 { @apply font-plus-jakarta-sans text-18 font-semibold italic; }
	.semibold-underline-18 { @apply font-plus-jakarta-sans text-18 font-semibold underline; }

	.regular-18 { @apply font-plus-jakarta-sans text-18 font-normal; }
	.regular-italic-18 { @apply font-plus-jakarta-sans text-18 font-normal italic; }
	.regular-underline-18 { @apply font-plus-jakarta-sans text-18 font-normal underline; }

	.medium-18 { @apply font-plus-jakarta-sans text-18 font-medium; }
	.medium-italic-18 { @apply font-plus-jakarta-sans text-18 font-medium italic; }
	.medium-underline-18 { @apply font-plus-jakarta-sans text-18 font-medium underline; }
	
	.semibold-16 { @apply font-plus-jakarta-sans text-16 font-semibold; }
	.semibold-italic-16 { @apply font-plus-jakarta-sans text-16 font-semibold italic; }
	.semibold-underline-16 { @apply font-plus-jakarta-sans text-16 font-semibold underline; }

	.regular-16 { @apply font-plus-jakarta-sans text-16 font-normal; }
	.regular-italic-16 { @apply font-plus-jakarta-sans text-16 font-normal italic; }
	.regular-underline-16 { @apply font-plus-jakarta-sans text-16 font-normal underline; }

	.medium-16 { @apply font-plus-jakarta-sans text-16 font-medium; }
	.medium-italic-16 { @apply font-plus-jakarta-sans text-16 font-medium italic; }
	.medium-underline-16 { @apply font-plus-jakarta-sans text-16 font-medium underline; }
	
	.semibold-14 { @apply font-plus-jakarta-sans text-14 font-semibold; }
	.semibold-italic-14 { @apply font-plus-jakarta-sans text-14 font-semibold italic; }
	.semibold-underline-14 { @apply font-plus-jakarta-sans text-14 font-semibold underline; }

	.regular-14 { @apply font-plus-jakarta-sans text-14 font-normal; }
	.regular-italic-14 { @apply font-plus-jakarta-sans text-14 font-normal italic; }
	.regular-underline-14 { @apply font-plus-jakarta-sans text-14 font-normal underline; }

	.medium-14 { @apply font-plus-jakarta-sans text-14 font-medium; }
	.medium-italic-14 { @apply font-plus-jakarta-sans text-14 font-medium italic; }
	.medium-underline-14 { @apply font-plus-jakarta-sans text-14 font-medium underline; }
	
	.semibold-12 { @apply font-plus-jakarta-sans text-12 font-semibold; }
	.semibold-underline-12 { @apply font-plus-jakarta-sans text-12 font-semibold underline; }

	.regular-12 { @apply font-plus-jakarta-sans text-12 font-normal; }
	.regular-underline-12 { @apply font-plus-jakarta-sans text-12 font-normal underline; }

	.medium-12 { @apply font-plus-jakarta-sans text-12 font-medium; }
	.medium-underline-12 { @apply font-plus-jakarta-sans text-12 font-medium underline; }
	
	.semibold-11 { @apply font-plus-jakarta-sans text-11 font-semibold; }
	.semibold-underline-11 { @apply font-plus-jakarta-sans text-11 font-semibold underline; }

	.regular-11 { @apply font-plus-jakarta-sans text-11 font-normal; }
	.regular-underline-11 { @apply font-plus-jakarta-sans text-11 font-normal underline; }

	.medium-11 { @apply font-plus-jakarta-sans text-11 font-medium; }
	.medium-underline-11 { @apply font-plus-jakarta-sans text-11 font-medium underline; }
	
	.semibold-10 { @apply font-plus-jakarta-sans text-10 font-semibold; }
	.semibold-underline-10 { @apply font-plus-jakarta-sans text-10 font-semibold underline; }

	.regular-10 { @apply font-plus-jakarta-sans text-10 font-normal; }
	.regular-underline-10 { @apply font-plus-jakarta-sans text-10 font-normal underline; }

	.medium-10 { @apply font-plus-jakarta-sans text-10 font-medium; }
	.medium-underline-10 { @apply font-plus-jakarta-sans text-10 font-medium underline; }
    
}

